body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 34px;
    font-weight: bold;
    color: #800080; /* Color morado */
}

.menu {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.whatsapp-btn {
    display: block;
    margin: 50px auto;
    width: 50px;
    height: 50px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: calc(100vh - 70px); /* Ajusta este valor según el alto del header */
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#file-input {
    margin-top: 20px;
}

#file-display {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}

/* Estilos para la función de IMC */
.calculator-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

#resultado {
    margin-top: 10px;
    font-weight: bold;
}

.bajo-peso {
    color: blue;
}

.normal {
    color: green;
}

.sobrepeso {
    color: #d4af37; /* Amarillo oscuro */
}

.obesidad {
    color: red;
}
